{% from "helper/core.html" import output_flashed_messages %}
{% from "helper/form.html" import render_field %}
{% extends layout_template if layout_template is defined else "main-layout.html" %}

{% block content %}
  <h1>Product</h1>
  {{ output_flashed_messages() }}
  <form method="POST" action="/add/{{ product_type }}{% if content_author
      %}/to/{{ content_author }}{% endif %}">
    {{ form.csrf }}
    <dl>
        {{ render_field(form.artist) }}
        {{ render_field(form.label) }}
        {{ render_field(form.release_date) }}
        {{ render_field(form.title) }}
        {{ render_field(form.type) }}
        {{ render_field(form.status) }}
        {{ render_field(form.medium) }}
    </dl>
    <input type="submit" value="Add" />
  </form>
{% endblock %}
