{% extends layout_template if layout_template is defined else "main-layout.html" %}

{% block content %}
    <h1>Products</h1>
    <table>
        <thead>
            <td>Artist</td>
            <td>Title</td>
            <td>Type</td>
            <td>Status</td>
            <td>Date</td>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.agents|join(', ') }}</td>
                    <td>{{ product.title }} {{ product.product_medium.name }}</td>
                    <td>{{ product.product_type.name }}</td>
                    <td>{{ product.product_status.name }}</td>
                    <td>{{ product.event.predicted_textual_release_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
