{% from "helper/core.html" import output_flashed_messages %}
{% from "helper/form.html" import render_field %}
{% extends layout_template if layout_template is defined else "layout/main.html" %}
{% set active_page = 'login' %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        {{ output_flashed_messages() }}
        <form method="POST" action="/login">
            {{ form.hidden_tag() }}
            <dl>
                {{ render_field(form.user_identity) }}
                {{ render_field(form.password) }}
            </dl>
            <input type="submit" value="Login" class="btn btn-large btn-primary" />
        </form>
    </div>
{% endblock %}
