<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

      <link rel="shortcut icon" href="/favicon.ico" />

      {% block head_stylesheets %}
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/typography.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/forms.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
      {% endblock %}

      {% block head_scripts %}
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
      {% endblock %}

      <title>{% block head_title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body class="{% block body_classes %}{% endblock %}">
    <div id="main-container">
      <header id="main-header">{% block header %}{% endblock %}</header>
      <div id="main-content">{% block content %}{% endblock %}</div>
      <footer id="main-footer">{% block footer %}{% endblock %}</footer>
    </div>
  </body>
</html>
